body {
    background: #313131;
    background-repeat: no-repeat;
    font-family: 'JetBrains Mono', monospace;
    color: #cacaca;
}

h1, h2, h3 {
    text-align:  center;
    padding-block: 20px;
    animation: fadeIn 2s ease-in-out;
    font-family: 'JetBrains Mono', monospace;
    color: #EC625F
}

p {
    animation: fadeIn 1s ease-in-out;
    text-align: center;
}

.navbar-custom {
    background-color: #525252;
    border-radius: 10px;
    margin-left: 50px;
    margin-right: 50px;
    margin: 1px;
}

.nav-badge-custom {
    font-size: 20px;
    animation: flash 1s infinite;
}

.card-custom {
    background-color: #414141;
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 7px;
    
    color: #cacaca;
}

.card-body-custom {
    text-align: center;
}

.card-text-custom {
    color: #cacaca;
    font-weight: bold;
    font-size: 13px;
}

.col-card-custom {
    display: flex;
    min-height: 200px;
    align-items: center;
    padding-left: 5%;
    padding-right: 5%;

}

.badge-card-custom {
    font-size: 10px;
    float: left;
    background-color: rgb(106, 186, 240);
}

.btn-primary-custom {
    text-align: right;
    color: #cacaca;
    background-color: #338aee;
}

.badge-custom {
    color: #EC625F;
    font-size: larger;

    animation: flash 1s infinite;
}

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

@keyframes flash {
    0% { opacity: 1; }
    49% { opacity: 1; }
    50% { opacity: 0; }
    99% { opacity: 0; }
    100% { opacity: 1; }
}

div {
    animation: fadeIn 2s ease-in-out;
}
