body {
    background: #313131;
    background-repeat: no-repeat;
    font-family: 'JetBrains Mono', monospace;
    color: #cacaca;
}

h1, h2, h3 {
    text-align:  center;
    padding-block: 20px;
    animation: fadeIn 2s ease-in-out;
    font-family: 'JetBrains Mono', monospace;
    color: #EC625F
}

p {
    animation: fadeIn 1s ease-in-out;
    text-align: center;
}

.navbar-custom {
    background-color: #525252;
    border-radius: 10px;
    margin-left: 50px;
    margin-right: 50px;
    margin: 1px;
}

.card-custom {
    background-color: #414141;
    border-radius: 10px;
    color: #cacaca;
}

.card-body-custom {
    text-align: center;
}

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

@keyframes flash {
    0% { opacity: 1; }
    50% { opacity: 0; }
    100% { opacity: 1; }
}

div {
    animation: fadeIn 2s ease-in-out;
}
