
html, body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background: #313131;
    background-repeat: no-repeat;
    font-family: 'JetBrains Mono', monospace;
    color: #cacaca;
}

main {
    flex: 1;
}

h1, h2, h3 {
    text-align:  center;
    padding-top: 20px;
    padding-bottom: 20px;
    animation: fadeIn 2s ease-in-out;
    font-family: 'JetBrains Mono', monospace;
    color: #EC625F
}

p {
    animation: fadeIn 1s ease-in-out;
    font-size: clamp(1rem, 1.2vw, 1.2rem);
    text-align: center;
    margin-left: 5%;
    margin-right: 5%;
}



.navbar-custom {
    background-color: #525252;
    border-radius: 10px;
}

.nav-badge-custom {
    font-size: 20px;
    padding: 0;
    animation: flash 1s infinite;
}



.card-custom {
    background-color: #414141;
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 7px;
    
    color: #cacaca;
}

.card-body-custom {
    text-align: center;
    min-height: 250px;
}

.card-text-custom {
    color: #cacaca;
    font-weight: bold;
    font-size: clamp(8px, 12px, 13px);
}



.badge-card-custom {
    font-size: 10px;
    float: left;
    background-color: rgb(106, 186, 240);
}

.badge-custom {
    color: #EC625F;
    font-size: larger;
    padding: 0;

    animation: flash 1s infinite;
}



div {
    animation: fadeIn 2s ease-in-out;
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #EC625F;
    color: #cacaca;
    margin-top: 100px;
}




@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

@keyframes flash {
    0% { opacity: 1; }
    49% { opacity: 1; }
    50% { opacity: 0; }
    99% { opacity: 0; }
    100% { opacity: 1; }
}