body {
    background: #313131;
    background-repeat: no-repeat;
    font-family: 'monserrat bold', sans-serif;
    color: #cacaca;
}

h1 {
    text-align:  center;
    animation: fadeIn 2s ease-in-out;
    font-family: 'monserrat', sans-serif;
}

.navbar-custom {
    background-color: #525252;
    border-radius: 30px;
    margin: 1px;
}

.card-custom {
    background-color: #414141;
    border-radius: 20px;
    color: #cacaca;
}

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

div {
    animation: fadeIn 2s ease-in-out;
}
