body {
    background-color: #2e2a3a;
    font-family: 'Arial', sans-serif;
    color: #cacaca;
}

h1 {
    text-align:  center;
}

.navbar-custom {
    background-color: #1f1b2e;
    border-radius: 30px;
    margin: 1px;
}

.card-custom {
    background-color: #1f1b2e;
    border-radius: 20px;
    color: #cacaca;
}

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

div {
    animation: fadeIn 2s ease-in-out;
}
